<?xml version="1.0"?>
<config>
	<modules>
		<Acaldeira_Zipcodezone>
			<version>0.1.0</version>
		</Acaldeira_Zipcodezone>
	</modules>
	<frontend>
		<routers>
			<zipcodezone>
				<use>standard</use>
				<args>
					<module>Acaldeira_Zipcodezone</module>
					<frontName>zipcodezone</frontName>
				</args>
			</zipcodezone>
		</routers>
		<layout>
			<updates>
				<zipcodezone>
					<file>acaldeira/zipcodezone.xml</file>
				</zipcodezone>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<!-- Includes our controller, so when we add the adminhtml menu item below, 
				it is found! -->
			<!-- <adminhtml> <args> <modules> <zipcodezone before="Mage_Adminhtml">Acaldeira_Zipcodezone_Adminhtml</zipcodezone> 
				</modules> </args> </adminhtml> -->

			<zipcodezone>
				<use>admin</use>
				<args>
					<module>Acaldeira_Zipcodezone</module>
					<frontName>zipcodezone</frontName>
				</args>
			</zipcodezone>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<zipcodezone translate="title" module="zipcodezone">
				<title>zipcodezone</title>
				<sort_order>71</sort_order>
				<children>

					<tables translate="title" module="zipcodezone">
						<title>Manage Zip Code Zone</title>
						<sort_order>0</sort_order>
						<action>zipcodezone/adminhtml_zipcodezone</action>
					</tables>
					
				</children>
			</zipcodezone>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<zipcodezone>
							<title>zipcodezone Module</title>
							<sort_order>200</sort_order>
						</zipcodezone>
					</children>
				</admin>
			</resources>
		</acl>
		<translate>
			<modules>
				<Acaldeira_zipcodezone>
					<files>
						<default>Acaldeira_zipcodezone.csv</default>
					</files>
				</Acaldeira_zipcodezone>
			</modules>
		</translate>
		<layout>
			<updates>
				<zipcodezone>
					<file>acaldeira/zipcodezone.xml</file>
				</zipcodezone>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<models>
			<zipcodezone>
				<class>Acaldeira_Zipcodezone_Model</class>
				<resourceModel>zipcodezone_mysql4</resourceModel>
			</zipcodezone>
			<zipcodezone_mysql4>
				<class>Acaldeira_Zipcodezone_Model_Mysql4</class>
				<entities>
					<zipcodezone>
						<table>zipcodezone</table>
					</zipcodezone>
				</entities>
			</zipcodezone_mysql4>
		</models>
		<resources>
			<zipcodezone_setup>
				<setup>
					<module>Acaldeira_Zipcodezone</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</zipcodezone_setup>
			<zipcodezone_write>
				<connection>
					<use>core_write</use>
				</connection>
			</zipcodezone_write>
			<zipcodezone_read>
				<connection>
					<use>core_read</use>
				</connection>
			</zipcodezone_read>
		</resources>
		<blocks>
			<zipcodezone>
				<class>Acaldeira_Zipcodezone_Block</class>
			</zipcodezone>
		</blocks>
		<helpers>
			<zipcodezone>
				<class>Acaldeira_Zipcodezone_Helper</class>
			</zipcodezone>
		</helpers>
	</global>
</config>