<?xml version="1.0"?>
<config>
	<modules>
		<Acaldeira_Wholesaler>
			<version>1.0.2</version>
		</Acaldeira_Wholesaler>
	</modules>	
	
	<global>
		<models>
			<wholesaler>
				<class>Acaldeira_Wholesaler_Model</class>
				<resourceModel>wholesaler_mysql4</resourceModel>
			</wholesaler>
			<company>
				<class>Acaldeira_Wholesaler_Model</class>
				<resourceModel>wholesaler_mysql4</resourceModel>
			</company>
			<wholesaler_mysql4>
				<class>Acaldeira_Wholesaler_Model_Mysql4</class>
				<entities>
					<wholesaler>
						<table>wholesaler</table>
					</wholesaler>
					<company>
						<table>wholesaler_company</table>
					</company>
				</entities>
			</wholesaler_mysql4>
		</models>
		<resources>
			<wholesaler_setup>
				<setup>
					<module>Acaldeira_Wholesaler</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</wholesaler_setup>
			<wholesaler_write>
				<connection>
					<use>core_write</use>
				</connection>
			</wholesaler_write>
			<wholesaler_read>
				<connection>
					<use>core_read</use>
				</connection>
			</wholesaler_read>
		</resources>
		<blocks>
			<wholesaler>
				<class>Acaldeira_Wholesaler_Block</class>
			</wholesaler>
				
		</blocks>
		<helpers>
			<wholesaler>
				<class>Acaldeira_Wholesaler_Helper</class>
			</wholesaler>
		</helpers>
		
<!-- 
		<events>
            <customer_prepare_save>
                <observers>
                    <Acaldeira_Wholesaler>
                        <class>Acaldeira_Wholesaler_Model_Observer</class>
                        <method>updateCustomerZipcodezone</method>
                        <type>singleton</type>
                    </Acaldeira_Wholesaler>
                </observers>
            </customer_prepare_save>
            
        </events> -->
  	</global>
  	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Acaldeira_Wholesaler before="Mage_Adminhtml">Acaldeira_Wholesaler_Adminhtml</Acaldeira_Wholesaler>
					</modules>
				</args>
			</adminhtml>
			 <wholesaler_index>
                <use>admin</use>
                <args>
                    <module>Acaldeira_Wholesaler</module>
                    <frontName>wholesaler</frontName>
                </args>
            </wholesaler_index>
            <wholesaler_catalog>
                <use>admin</use>
                <args>
                    <module>Acaldeira_Wholesaler</module>
                    <frontName>wholesaler_wcatalog</frontName>
                </args>
            </wholesaler_catalog>
		</routers>
	</admin> 
  	<adminhtml>
		<layout>
			<updates>
				<wholesaler>
					<file>acaldeira/wholesaler.xml</file>
				</wholesaler>
			</updates>
		</layout>
	</adminhtml>
</config>